.projects-one{
    width: 100vw;
    display: flex;
    background: url(../../../public/assets/projects-cover.jpg);
    height: 50vh;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
}
.projects-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bold{
    font-weight: 800;
    flex: 1;
    text-transform: capitalize;
}
.light{
    font-weight: 400;
    flex:2;
}
@media screen and (max-width:800px){
    .projects-one{
        height: 50vh;
    }
    .projects-wrapper{
        flex-direction:  column;
        justify-content: center;
    }
    .bold{
        font-size: 2rem;
        margin-top: 2rem;
        
    }
    .light{
        flex: 1;
        margin-top: -3rem;
    }
}
.projects-two{
    display: flex;
    flex-direction: column;
    max-width: 95vw;
    align-items: center;
    margin-left: 2.5vw;
}
.two-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
}


.special .img-wrapper{
    width: 30vw;
}
.special {
    width: 30vw;
}
@media screen and (max-width:800px) {
    .special .img-wrapper{
        width: 90vw;
    }
    .special{
        width: 90vw;
    }
}