*, ::before, ::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

section{
    display: block;
    margin: 0;
    padding: 0;
}
.hero{
    width: calc(100vw - 0.5em);
}
.hero-one{
    background: url(../../../public/assets/cover.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.container{
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    line-height: 4em;
}
.large-text{
    font-size: 3.5rem;
    font-weight: 900;
}
.small-text{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
}
@media screen and (max-width:800px) {
    .large-text{
        font-size: 2rem;
    }
    .small-text{
        text-align: center;
    }
}
@media screen and (max-width:480px){
    .container{
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
}
}
.hero-two{
    width: 100vw;
    height: 100vh;
    background-color: white;
}
.outer-container{
    display: flex;
    justify-content:  center;
    align-items: center;
}
.hero-two .container{
    background: url(../../../public/assets/journey.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 10vh;
    height: 80vh;
}
.inner-container{ 
    background-color: rgba(0, 0, 10, 0.5);
    width: 95vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 5vw;
    padding-top: 15vh;
}
.inner-container .medium-text{
    width: 70vh;
    font-weight: 400;
    font-size:1.75rem;
    line-height:1.5em;
}   
.inner-container .large-text{
    width: 70vh;
    font-weight: 800;
    font-size:3rem;
    line-height:1.5em;
}   
.btn{
    padding: 1rem;
    background-color: royalblue;
    outline: 3px solid royalblue;
    border: none;
    font-size: 1rem;
    box-sizing: border-box;
}
.btn:hover{
    background-color: #0057b3;
    outline: 3px solid royalblue;
    transition:500ms ease-in-out;
    cursor: pointer;
}
.btn-hero{
    margin-top:1em
}
.btn a{
    color: white;
    text-decoration: none  ;
}
.hero-three{
    display: flex;
    max-width: 95vw;
    height: 85vh;
    align-items: center;
    justify-content: center;
}
.text-container{
    display: flex;
    flex-direction: column;
    width: 60vw;
    padding-right: 5vw;
}
.gm-image{
    height: 30vw;
    width: 30vw;
    overflow: hidden;
}
.title{
    color: #003e7f;
    line-height: 3.5rem;
}
.para{
    padding: 2.5rem 0;
}
.signature{
    font-size: 1.5rem;
    align-self: flex-end;
}

@media screen and (max-width:800px){
    .hero-two .container{
        background-size: cover;
    }
    .container .medium-text{
        font-size: 1.25rem;
    }
    .hero-three{
        width: 95vw;
        flex-direction: column;
        align-items: flex-center;
        height: auto;
    }
    .title{
        font-size: 3rem;
    }
    .text-container{
        justify-content: flex-start;
        padding-right: 0;
        width: 90vw;
    }
    .para{
        text-align: left;
    }
    .signature{
        align-self: flex-start;
    }
    .gm-image{
        padding: 3rem 0;
        height: 90vh;
        width: 90vw;
    }
}
@media screen and (max-width:480px) {
    .gm-image{
        height: 50vh;
    }
    .hero-two{
        height: 55vh;
    }
    .hero-two .container{
        height: 50vh;
        margin-top: 2vh;
    }
    .inner-container{
        width: 100vw;
        height: 50vh;
    }
}
.hero-four{
    max-width: 95vw;
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: center;
    background: url(../../../public/assets/researchpaper.jpg);
    margin: 0 auto;
}
.overlay{
    background-color: rgba(0, 0, 10, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
    width: 95vw;
    max-width: 95vw;
    padding: 5rem 0;
}
.overlay .large-text{
    color: white;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.overlay .btn{
    font-size: 1rem;
    color: white;
}

.best-container .best-button{
    background-color: rgb(46, 46, 46);
    font-size: 1.2rem;
    outline: none;
    padding: 2rem 3rem;
    margin: 2rem;
}

@media screen and (max-width:800px) {
    .best-container .best-button{
        padding: 1rem;
        margin: 1rem;
        max-width: 40vw;
        
    }
}
@media screen and (max-width:480px){
    .hero-four, .overlay{
        height: 75vh;
    }
    .overlay{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 1rem;
    }
    .overlay>.large-text{
        text-align: center;
    }
    .best-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .best-container .best-button{
        max-width: 80vw;
        width: 80vw!important;
    }
}
.centerer{
    display: grid;
    max-width: 95vx;
    place-content: center;
}
.hero-five{
    display: flex;
    flex-direction: column;
    max-width: 95vw;
    height: 110vh;
    justify-content: space-around;
    align-items: center;
}
.article-container{
    display: flex;
}
.preview{
    padding-right: 25px;
}
.preview:hover{
    cursor: pointer;
}
.img-wrapper{
    width: 26vw;
    height: 50vh;
    overflow: hidden;
}
.img-wrapper .article-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}   

@media screen and (max-width:800px) {
    .hero-five{
        height: auto;
        margin-top: 2rem;
    }
   .img-wrapper {
       width: 85vw;
        height: 50vh;
        }
    .preview{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        margin-bottom: 2.5rem;
    }
    .article-container{
        flex-direction: column;
    }
}
.hero-six{
    display: flex;
    max-width: 95vw;
    align-items: center;
    justify-content: center;
    margin-left: 2.5vw;
}
.gallery-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}
.img-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.img-container{ 
    flex:1;
    height: 40vh;
    overflow: hidden;
    min-width: 20rem;
}
.img-container>img{
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease-in-out;
    object-fit: cover;
}
.img-container>img:hover{
   transform: scale(1.1);
   cursor: pointer;
}
@media screen and (max-width:800px) {
    .img-grid{
        display: flex;
        flex-direction: column;
    }
    .img-container{
        width: 95vw;
    }
}
.fs-overlay>div:hover{
    cursor: pointer;
}
.fs-overlay>div{
    align-self: flex-end;
    margin-right: 3rem;
}