*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(237, 237, 237);
}

::-webkit-scrollbar{
    width: 0.5em;
}
::-webkit-scrollbar-track{
    background: white;
}
::-webkit-scrollbar-thumb{
    background: #007aff;
}
a{
    text-decoration: none;
}

a p{
    color:black;
}